.banner {
  background-image: url("../images/bg_home.jpg");
  background-position: center;
  background-size: cover;
  height: calc(100vh - 90px);
  background-repeat: no-repeat;

  &__dot {
    width: 10px;
    height: 10px;
  }
}

.program__pros li {
  height: 264px;
}