.nav__logo h1 a {

    display: block;
    width: 174.42px;
    height: 42px;
    background-image: url("../images/logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    text-decoration: none;
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;

}