.nav__logo h1 a {

    display: block;
    width: 174.42px;
    height: 42px;
    background-image: url("../images/logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    text-decoration: none;
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;

    @include phone {
        background-image: url("../images/logo2.svg");
        width: 24px;
        height: 24px;
    }

}



header {
    position: relative;

    &::before {
        content: '';

        width: 50%;
        height: 2px;
        background-color: $primary;
        position: absolute;
        bottom: 0;
        left: 0;


    }

    &::after {
        content: '';
        width: 50%;
        height: 2px;
        background-color: $secondary;
        position: absolute;
        bottom: 0;
        right: 0;

    }

}