.gradient-custom {
    background-image: linear-gradient(104deg, #62DB54, #09ACF5);
}

.gradient-text-custom {
    background-image: linear-gradient(180deg, #62DB54, #09ACF5);
    background-clip: text;
    color: transparent;
}