$utilities: map-merge($utilities, ("opacity": (property: opacity,
                // class: opac,
                values: (0: 0,
                    25: .25,
                    30: .3,
                    50: .5,
                    70: .7,
                    85: 0.85,
                    100: 1,
                )),
            "background-repeat": (property: background-repeat,
                class: bg,
                values: (repeat, no-repeat, repeat-x, repeat-y, round, space)),
            "background-size": (property: background-size,
                class: bg,
                values: (auto, cover, contain)),
            "font-size": map-merge(map-get($utilities, "font-size"),
                (responsive: true,
                    rfs: false,
                )),

        ));